.circle{
    margin-left: 500px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: rgb(181, 231, 231);
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contents{

}
#display{
    margin-left: 65px;
    font-size: 70px;
}