.circle{
    margin-left: 500px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: rgb(181, 231, 231);
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    color: black;
    background-color: rgb(241, 121, 121);
    border-radius: 30%;
    padding: 10px;
}
#display{
    margin-left: 72px;
    font-size: 70px;
}